<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <title>Projeto Academy</title>
    <meta name="author" content="Ernando">
</head>
<body>

<p>Hello World</p>
<h1 th:text="${msg}"></h1>

<button class="btn btn-outline-info">Teste</button>

</body>
</html>